<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0fd8fbc1b6.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div th:insert="blocks/header :: header"></div>
<div class="jumbotron text-center">
    <div class="text-block">
        <h1 style="font-family:'Kaushan Script', cursive;">3d Printing Service</h1>
        <p><i>Upload your 3D model, choose from different finishes and materials, select the size of your print, receive a price quote instantly and let us take care of printing and shipping your products.</i></p>
    </div>
</div>
<form action="/basket/add" method="post" id="userForm">
<div id="shapes-list" class="container-fluid text-center bg-grey">
    <h2>CHOOSE SHAPE</h2>
    <div class="row text-center slideanim" >
        <div class="col-sm-4" th:each="item : ${items}">
            <div class="thumbnail">
                <img th:src="'/images/' + ${item.imageName} +'.png'" alt="shape image" width="400" height="300">
                <p th:text="${item.name}" id="name" name="name"><strong></strong></p>
                <p><button type="button" class="btn" id="chooseShape" onclick="itemChosen()">Choose</button></a></p>
            </div>
        </div>
    </div>
</div>

<div id="colors-list" class="container-fluid text-center bg-grey">
    <h2>PICK COLOR</h2>
    <div class="row text-center slideanim">
        <div class="col-sm-2" th:each="color : ${colors}">
            <div class="radio">
                <label ><input type="radio" name="colorradio" id="colorradio" checked th:text="${color.colorName}"></label>
            </div>
        </div>
    </div>
</div>

<div id="materials-list" class="container-fluid text-center bg-grey">
    <h2>CHOOSE MATERIAL</h2>
    <div class="row text-center slideanim">
        <div class="col-sm-3" th:each="mater: ${materials}">
            <div class="radio">
                <label><input type="radio" name="materialradio" id="materialradio" checked th:text="${mater.materialName}"></label>
            </div>
        </div>
    </div>
</div>
<div id="order-button" class="container-fluid text-center bg-grey">
    <div class="text-center slideanim">
            <p><button type="submit" class="btn" onclick="sendData()">ORDER</button></a></p>
    </div>
</div>
</form>
<div th:insert="blocks/footer :: footer"></div>

<script>
    function sendData() {
        console.log( JSON.stringify($("#userForm").serializeArray()));
        $.ajax({
            type: "POST",
            url: "/basket/add",
            data: JSON.stringify({"name": $("#name").val(), "color": $("#colorradio").val(), "material": $("#materialradio").val()}),
            success: function(){ console.log("OK")},
            dataType: "json",
            contentType : "application/json"
        });
    }

    $(document).ready(function(){
        $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;

                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function(){
                    window.location.hash = hash;
                });
            }
        });

        $(window).scroll(function() {
            $(".slideanim").each(function(){
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>